# Vivado temporary files
.Xil
*.cache
*.gen
*.hw
*.ip_user_files
*.runs
*.sim
vivado_pid*.str
*.dmp
*.log
*.jou
*.bda
*.ui
*.dcp
# for xdma-test board design
hw/IP/**/bd*/*.xci
# for adam-test board design
hw/IP/adam-test/design_1/*
hw/IP/adam-test/design_2/*
hw/IP/adam-test/design_3/*
!hw/IP/adam-test/**/*.bd

# temporary files
*.swp
build
*.o
*.cmd
*.symvers
*.order
*.ko
*.mod
*.mod.c
*.zip