# Vivado temporary files
.Xil
*.cache
*.gen
*.hw
*.ip_user_files
*.runs
*.sim
vivado_pid*.str
*.dmp
*.log
*.jou
*.bda
*.ui
*.dcp

# temporary files
*.swp
build
*.o
*.cmd
*.symvers
*.order
*.ko
*.mod
*.mod.c
*.zip